<div id="contain" class="container-fluid">
    <div id="header" class="row">
        <div class="col-md-10 col-sm-10 col-xs-12">
            <p id="menu">Menu</p>
            <p id="heading">Chat Application</p>
        </div>
        <div class="col-md-2 col-sm-2"></div>
    </div>
    <div id="login" class="row">
        <div class="col-md-5 col-sm-5 col-xs-4">

        </div>
        <div class="col-md-2 col-sm-2 col-xs-4">
            <form id="loginForm" ng-submit="login()">
                <label for="name">Name:</label>
                <input id="name" type="text" ng-model="username" />
                <input id="loginb" type="submit" value="Login" />
            </form>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-4">

        </div>
    </div>
</div>
